*~
#*
.#*
auto-save-list/
.emacs.desktop
.emacs.desktop.lock
transient/
*.elc
*.eln
eln-cache/
elpa/
straight/
straight/build/
straight/versions/
custom.el
.dir-locals.el
network-security.data
*.org-id-locations
*_archive
.projectile
projectile-bookmarks.eld
var/
recentf
tramp
*_flymake.*
flycheck_*.el
eshell/history
eshell/lastdir
server/
.DS_Store
.idea/
.vscode/
